{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class= "container pt-3">
    <h1>Create new User</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}" class="btn btn-primary mr-3">back to list</a>
</div>
{% endblock %}
