{# templates/Traveler/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <title>Traveler</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome to traveler ! </h1>
  <p>
    A website to share travelling experiences.
  </p>
</body>
</html>